:root {
  --primary: #3ecf8e;
  --primary-dark: #37996b;
  --primary-darker: #317f5a;
  --text: #f9f9f9;
  --background: #1c1c1c;
  --secondary: #2e2e2e;
  --gray-border: #3e3e3e;
  --gray-border-hover: #505050;
  --gray-menu-button: #7e7e7e;
  --gray-menu-button-hover: #232323;
  --navbar-height: 64px;
  --gray-text-hover: #8f8f8f;
  --gray-icon: #a0a0a0;
}
body {
  background: #1c1c1c;
}
h1 {
  color: white;
}
h2 {
  color: white;
  text-align: center;
  font-size: xx-large;
}
.fine-details {
  color: white;
  font-size: 25px;
  text-align: center;
}
button {
  background: var(--primary);
  border: none;
  border-radius: 10%;
}
p {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}
button:hover {
  background-color: var(--primary-dark);
}
h1 {
  text-align: center;
  font-size: xxx-large;
}
input#iKey {
  text-align: center;
  margin-left: 670px;
  margin-top: 50px;
}
